<ion-header translucent>
    <ion-toolbar *ngIf="this.user">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['']" >
               <ion-icon slot="icon-only" name="home"></ion-icon>
             </ion-button>
         </ion-buttons>
         <ion-label>{{this.appName}}</ion-label>
      <ion-buttons slot="end">
          <ion-button>
          <ion-avatar class="user-avatar" (click)="presentUserPopover($event)">
              <img [src]="this.user.photoURL">
            </ion-avatar>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
