<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['']" >
               <ion-icon slot="icon-only" name="home"></ion-icon>
             </ion-button>
         </ion-buttons>
      <ion-buttons slot="end">
          <ion-button>
          <ion-avatar class="user-avatar" (click)="presentUserPopover($event)">
              <img [src]="this.user.avatar">
            </ion-avatar>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
