    <ion-grid>
        <ion-row align-items-center>
          <ion-col align-self-center>
              <img class="ecotopia-main-logo" src="./assets/logos/logo3.png">
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-searchbar></ion-searchbar>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              ion-col
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              ion-col
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              ion-col
            </ion-col>
        </ion-row>
    </ion-grid>
