<ion-list>
    <ion-list-header>Hello, {{this.user.fullName}}</ion-list-header>
    <ion-item button>
        <ion-icon name="contact" slot="end"></ion-icon>
        Profile</ion-item>
    <ion-item button>
        <ion-icon name="settings" slot="end"></ion-icon>
        Settings</ion-item>
    <ion-item button>
        <ion-icon name="log-out" slot="end"></ion-icon>
        Logout</ion-item>
        <ion-item button>
                <ion-icon name="close" (click)="dismissPopover()"></ion-icon>
        </ion-item>
  </ion-list>
